.heading{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
   
    text-align: center;
    margin-top: 12px;
}
.box1{
    border: 6px solid red;
    background-color: aqua;
    color: black;
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
}
#nav{
    border: 6px solid red;
    border-radius: 20px;
    background-color: aqua;
    width: 600px;
    height:50px;
    word-spacing: 60px;
    padding-top: 3px;
    padding-left: 35px;
    padding-bottom: 5px;
    margin-top: 25px;
}
#offers{
    
        border: 10px solid rgb(238, 19, 30);
        border-radius: 600px;
        background-color: aqua;
        color: black;
        height: 300px;
        width: 400px;
        padding-top: 100px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
}
#form{
    border: 6px solid red;
    background-color: aqua;
    border-style: dashed;
    margin-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
}
.labels{
    color: rgb(245, 9, 21);
}
#menu1{
    border: 6px solid red;
    border-radius: 300px;
    width: 250px;
    height: 40px;
    padding-top: 19px;
    padding-bottom: 5px;
    margin-top: 50px;
    background-color: rgb(14, 2, 17);
    color: white;
    letter-spacing: 3px;
    font-size: xx-large;
    font-style: italic;
}
.dishes{
    border: 6px solid black;
    background-color: aqua;
    color: blue;
    border-radius: 32px;
    width: 450px;
    height: 245px;
}
body{
    background-image: url(4k.jpg);
}